@charset "utf-8";

* {
  margin-top: 2%;
  padding: 0;
}


h1{
  text-align: center;
  font-size: 4em;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}
 img {
   max-width: 15%;
   height: auto;
 }
table {
  margin-left: 5%;
  margin-right: 5%;
}

body {
  font-weight: bold;
}

th, td {
  text-align: center;
  margin: 2%;
}
