@charset "utf-8";


	html, body, ul, nav {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	width: 100%;
	overflow-x: hidden;
	}

.button_nav {
	padding-top: 10px;
	text-align: center;
	padding-bottom: 5px;
	float: right;
	clear: right;
	width: 100%;
	-webkit-box-shadow: 0 0 #000000;
	box-shadow: 0 0 #000000;
	margin-bottom: 15px;
}

.button_nav_grey {
	background-color: #ACACAC;
}




li {
	list-style-type: none;
}



ul {
	float: right;
	background-color: #787878;
	margin: 0;
	height: 65vh;

	width: 100px;
	padding-top: 40px;
	clear: none;
}
h2 {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 60px;
}


	
#popup {
	width: 100%;
	overflow-x: hidden;
	height: 35vh;
	display: block;
	float: right;
	clear: right;
}



.pressed-highlights {
	background-color: #998675;
	transition: background-color 0.5s ease;
}

.pressed-bronzealder {
	background-color: #F0FF85;
	transition: background-color 0.5s ease;
}

.pressed-geometrisk {
	background-color: #83FFC4;
	transition: background-color 0.5s ease;
}

.pressed-arkaisk {
	background-color: #FF8080;
	transition: background-color 0.5s ease;
}

.pressed-klassisk {
	background-color: #FFCC83;
	transition: background-color 0.5s ease;
}

.pressed-hellenistisk {
	background-color: #85C8FF;
	transition: background-color 0.5s ease;
}

.pressed-romersk {
	background-color: #BC88FF;
	transition: background-color 0.5s ease;
}

.pressed-syditalisk {
	background-color: #D3A97A;
	transition: background-color 0.5s ease;
}



.highlights {background-color: #ACACAC;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 5px;
	float: right;
	clear: right;
	width: 100%;
	-webkit-box-shadow: 0 0 #000000;
	box-shadow: 0 0 #000000;
	margin-bottom: 15px;}

.bronzealder {background-color: #ACACAC;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 5px;
	float: right;
	clear: right;
	width: 100%;
	-webkit-box-shadow: 0 0 #000000;
	box-shadow: 0 0 #000000;
	margin-bottom: 15px;}

.geometrisk {}

.arkaisk {}

.klassisk {}

.hellenistisk {}

.romersk {}

.syditalisk {}

	@media (max-width:768px); 		


