@charset "utf-8";


	html, body, ul, nav {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	width: 100%;
	overflow-x: hidden;
	}

.button_nav {
	padding-top: 39px;
	text-align: center;
	padding-bottom: 19px;
	float: right;
	clear: right;
	width: 100%;
	-webkit-box-shadow: 0 4px 20px #000000;
	box-shadow: 0 4px 20px #000000;
	margin-bottom: 3px;
}

.button_nav_grey {
	background-color: #ACACAC;
}




li {
	list-style-type: none;
	color: #FFFFFF;
	text-shadow: 2px 2px 10px #000000;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}



ul {
	float: right;
	background-color: #787878;
	height: 67vh;
	clear: none;
	padding-bottom: 5vh;
	text-align: left;
	width: 16vw;
	padding-top: 3vh;
}

#map {
	display: block;
	clear: left;
	width: 73vw;
	height: 75vh;
	margin-left: 5vw;
}
nav {
	width: 16vw;
	float: right;
	clear: none;
}


h2 {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 60px;
}


	
#popup {
	width: 100%;
	overflow-x: hidden;
	height: 27vh;
	display: block;
	float: right;
	clear: both;
}



.pressed-highlights {
	background-color: #998675;
	transition: background-color 0.5s ease;
}

.pressed-bronzealder {
	background-color: #F0FF85;
	transition: background-color 0.5s ease;
}

.pressed-geometrisk {
	background-color: #83FFC4;
	transition: background-color 0.5s ease;
}

.pressed-arkaisk {
	background-color: #FF8080;
	transition: background-color 0.5s ease;
}

.pressed-klassisk {
	background-color: #FFCC83;
	transition: background-color 0.5s ease;
}

.pressed-hellenistisk {
	background-color: #85C8FF;
	transition: background-color 0.5s ease;
}

.pressed-romersk {
	background-color: #BC88FF;
	transition: background-color 0.5s ease;
}

.pressed-syditalisk {
	background-color: #D3A97A;
	transition: background-color 0.5s ease;
}



.highlights {
	background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-01.png);
	transition: background-image 0.5s ease;

}

.bronzealder {
	background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-02.png);
	transition: background-image 0.5s ease;
}

.geometrisk {
		background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-03.png);
	transition: background-image 0.5s ease;
}

.arkaisk {
		background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-04.png);
	transition: background-image 0.5s ease;
}

.klassisk {
		background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-05.png);
	transition: background-image 0.5s ease;
}

.hellenistisk {
		background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-06.png);
	transition: background-image 0.5s ease;
}

.romersk {
		background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-07.png);
	transition: background-image 0.5s ease;
}

.syditalisk {
		background-image: url(file:///D:/skole/Exam_case_2017/Map_code/asssets/maps-08.png);
	transition: background-image 0.5s ease;
}

	@media (max-width:768px); 		
